
.CardH, .CardInfo {
    margin: 15px;
    background-color: #1c1c1c75;
    border-radius: 15px;
    color: whitesmoke;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CardH img {
    width: 300px;
    border-radius: 30px;
}

h3 {
    color: whitesmoke;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 900px){
    .hob {
        display: flex;
    }
    .CardH {
        width: 30%;
    }
}