.Main {
    display: flex;
    color: whitesmoke;
    font-family: 'Lobster', cursive;
    text-align: center;
    margin: 15px;
    border-bottom: 1px dotted #1c1c1c;
    justify-content: center;
}

.Main img {
    height: 500px;
    align-self: center;
    border-radius: 15px;
    margin-bottom: 5px;
}
.subMain {
    margin: 0px 7px 0px 7px;
}

.subMain ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.subMain ul a{
    margin: 7px;
    cursor: pointer;
    text-decoration: underline;
}

span {
    display: block;
    color: whitesmoke;
    font-family: 'Lobster', cursive;
    white-space: nowrap;
    border-right: 4px solid;
    width: 37ch;
    animation: typing 4s steps(50) infinite alternate, blink .5s infinite step-end alternate;
    overflow: hidden;
    margin: 15px 0 0 15px;
}

@keyframes typing {
    from {width: 0;}
}
@keyframes blink {
    50% {border-color:transparent}
}

@media (min-width: 900px){
    .maindiv {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Main {
        justify-content: space-between;
    }
    .subMain {
        width: 500px;
    }
}